.business-list-container {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
}

.heading {
  margin-bottom: 10px;
}

.add-business-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  align-self: flex-end;
}

.add-business-btn:hover {
  background-color: #0056b3;
}

.business-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.business-table th,
.business-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.business-table th {
  background-color: #f4f4f4;
}

.loading-text {
  text-align: center;
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
  margin-top: 20px;
}

.no-data {
  text-align: center;
  color: gray;
  margin-top: 15px;
}
.addContainer {
  display: flex;
  flex-direction: column ;
  padding: 20px 
}
